.btn {
	font-size: 13px;
	width: 100%;
	display: block;
	border: none;
	outline: none;
	text-transform: uppercase;
	text-align: center;
	font-weight: 500;
	padding: 14.5px;
	border-radius: 3px;
	cursor: pointer;
	transition: background-color .25s linear, color .2s linear;
	&.primary {
		background-color: $coral;
		color: #fff;
		&:hover {
			background-color: $coralDark;
		}
	}
	&.ghost {
		background-color: transparent;
		color: #999;
		border: 2px solid rgba(#999, .5);
		transition: all .2s;
		&:hover {
			color: $coral;
			border-color: $coral;
		}
	}
	
	&.has_load {
		position: relative;
		
		.text {
			opacity: 1;
			transition: opacity .3s;
		}
		
		.loader {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			opacity: 0;
			transition: opacity .3s;
			
			.circle {
				margin: 0 auto;
				width: 25px;
				height: 25px;
				border-radius: 50%;
				border: 4px solid transparent;
				position: relative;
				animation: spin 1s infinite linear;
				&:before {
					content: '';
					width: 25px;
					height: 25px;
					border-radius: 50%;
					display: block;
					position: absolute;
					left: -4px;
					top: -4px;
					border-right: 4px solid transparent;
					border-top: 4px solid transparent;
					border-left: 4px solid $coral;
					border-bottom: 4px solid transparent;
				}
			}
		}
		
		&.loading {
			border-color: $coral;
			
			.loader {
				opacity: 1;
			}
			.text {
				opacity: 0;
			}
		}
		&.saved {
			border-color: $coral;
			cursor: default;
			pointer-events: none;
			&:after {
				content: icon-char(saved);
				@include icon-styles;
				position: absolute;
				font-size: 26px;
				color: $coral;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
			.text {
				opacity: 0;
			}
		}
	}
}

@keyframes spin {
	100% {
		transform: rotate(360deg)
	}
}




