.form_item {
	
	&.text {
		margin-bottom: 20px;
		
		&.error {
			position: relative;
			
			> input {
				
				+ .err {
					position: absolute;
					bottom: 10px;
					right: 15px;
					
					.alert {
						position: relative;
						width: 25px;
						height: 25px;
						border-radius: 50%;
						border: 2px solid $red;
						display: block;
						cursor: help;
						&:after {
							content: '!';
							position: absolute;
							font-size: 18px;
							line-height: 1;
							color: $red;
							top: 2px;
							right: 7.5px;
						}
						&:hover {
							border-color: rgba($red, .8);
							&:after {
								color: rgba($red, .8);
							}
							
							+ .msg {
								opacity: 1;
								bottom: 35px;
								transition: bottom .2s, opacity .2s;
							}
						}
					}
					.msg {
						pointer-events: none;
						opacity: 0;
						
						text-align: center;
						padding: 15px;
						border-radius: 3px;
						bottom: 30px;
						position: absolute;
						left: 50%;
						transform: translateX(-50%);
						color: #494949;
						font-size: 12px;
						background-color: #fff;
						box-shadow: 0px 6px 11px 0px rgba(0, 0, 0, 0.14);
						width: 230px;
						line-height: 18px;
						
						&:after {
							content: '';
							position: absolute;
							bottom: -4px;
							left: 50%;
							transform: translateX(-50%);
							width: 0;
							height: 0;
							border-style: solid;
							border-width: 4px 5px 0 5px;
							border-color: #fff transparent transparent transparent;
						}
						&.active {
							visibility: visible;
							opacity: 1;
						}
					}
				}
			}
		}
		&.white {
			
			> input {
				border: 1px solid #e8e8e8;
			}
		}
		> input {
			width: 100%;
			border: 2px solid transparent;
			border-radius: 3px;
			outline: none;
			font-size: 13px;
			color: #494949;
			padding: 13px 20px;
			transition: all .25s linear;
			@include placeholder {
				color: #999;
			}
			&:focus {
				// border-color: #eaeaea;
			}
			&[disabled] {
				background-color: #f0f0f0;
				color: rgba(#494949, .5);
			}
		}
	}
	&.blocked {
		position: relative;
		
		input {
			cursor: not-allowed;
			@include user-select();
		}
		
		&:after {
			content: icon-char(lock);
			@include icon-styles;
			color: #3e4646;
			font-size: 14px;
			position: absolute;
			right: 15px;
			bottom: 13px;
			pointer-events: none;
		}
	}
	&.edit {
		position: relative;
		&:hover {
			&:after {
				color: $coral;
			}
		}
		
		input {
			cursor: pointer;
			@include user-select();
		}
		
		&:after {
			content: icon-char(pen);
			@include icon-styles;
			color: #3e4646;
			font-size: 12px;
			position: absolute;
			right: 15px;
			bottom: 13px;
			pointer-events: none;
			transition: color .25s;
		}
	}
	
	label {
		font-size: 10px;
		text-transform: uppercase;
		margin-bottom: 5px;
		display: block;
	}
}

.form_group {
	display: flex;
	flex-flow: row wrap;
	
	.form_item {
		width: calc( 50% - 7.5px );
		&:nth-child(1) {
			margin-right: 15px;
		}
	}
}

.ngdialog-content {
	
	.form_item.text.error > input + .err .msg {
		left: auto;
		transform: none;
		right: -60px;
		&:after {
			transform: none;
			left: auto;
			right: 67px;
		}
	}
}




