@font-face {
  font-family: "icons";
  src: url('../fonts/icons.eot');
  src: url('../fonts/icons.eot?#iefix') format('eot'),
    url('../fonts/icons.woff') format('woff'),
    url('../fonts/icons.ttf') format('truetype'),
    url('../fonts/icons.svg#icons') format('svg');
}

@mixin icon-styles {
  font-family: "icons";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  // speak: none; // only necessary if not using the private unicode range (firstGlyph option)
  text-decoration: none;
  text-transform: none;
}

%icon {
  @include icon-styles;
}

@function icon-char($filename) {
  $char: "";

  @if $filename == arrow_left {
    $char: "\EA01";
  }
  @if $filename == close {
    $char: "\EA02";
  }
  @if $filename == cross {
    $char: "\EA03";
  }
  @if $filename == eye {
    $char: "\EA04";
  }
  @if $filename == lock {
    $char: "\EA05";
  }
  @if $filename == logout {
    $char: "\EA06";
  }
  @if $filename == menu {
    $char: "\EA07";
  }
  @if $filename == pen {
    $char: "\EA08";
  }
  @if $filename == saved {
    $char: "\EA09";
  }
  @if $filename == search {
    $char: "\EA0A";
  }
  @if $filename == send {
    $char: "\EA0B";
  }
  @if $filename == settings {
    $char: "\EA0C";
  }
  @if $filename == user {
    $char: "\EA0D";
  }

  @return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
  &:#{$insert} {
    @if $extend {
      @extend %icon;
    } @else {
      @include icon-styles;
    }
    content: icon-char($filename);
  }
}

.icon_arrow_left {
  @include icon(arrow_left);
}
.icon_close {
  @include icon(close);
}
.icon_cross {
  @include icon(cross);
}
.icon_eye {
  @include icon(eye);
}
.icon_lock {
  @include icon(lock);
}
.icon_logout {
  @include icon(logout);
}
.icon_menu {
  @include icon(menu);
}
.icon_pen {
  @include icon(pen);
}
.icon_saved {
  @include icon(saved);
}
.icon_search {
  @include icon(search);
}
.icon_send {
  @include icon(send);
}
.icon_settings {
  @include icon(settings);
}
.icon_user {
  @include icon(user);
}