@mixin desktop {
	@media screen and ( max-width: 991px ) {
		@content;
	}
}

@mixin tablet {
	@media screen and ( max-width: 990px ) {
		@content;
	}
}

@mixin mobile {
	@media screen and ( max-width: 790px ) {
		@content;
	}
}

@mixin medium {
	@media screen and ( max-width: 1180px ) {
		@content;
	}
}

@mixin user-select( $param: none ) {
	-webkit-user-select: $param;
	-moz-user-select: $param;
	-ms-user-select: $param;
	user-select: $param;
}

@mixin placeholder {
	&::-webkit-input-placeholder {
		@content
	}
	&:-moz-placeholder {
		@content
	}
	&::-moz-placeholder {
		@content
	}
	&:-ms-input-placeholder {
		@content
	}
}