@keyframes ngdialog-fadeout {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@keyframes ngdialog-fadein {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.ngdialog {
	box-sizing: border-box;
}

.ngdialog *,
.ngdialog *:before,
.ngdialog *:after {
	box-sizing: inherit;
}

.ngdialog {
	position: fixed;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	z-index: 10000;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.ngdialog.ngdialog-disabled-animation,
.ngdialog.ngdialog-disabled-animation .ngdialog-overlay,
.ngdialog.ngdialog-disabled-animation .ngdialog-content {
	-webkit-animation: none!important;
	animation: none!important;
}

.ngdialog-overlay {
	position: fixed;
	background: rgba(0, 0, 0, 0.4);
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	-webkit-backface-visibility: hidden;
	-webkit-animation: ngdialog-fadein 0.5s;
	animation: ngdialog-fadein 0.5s;
}

.ngdialog-no-overlay {
	pointer-events: none;
}

.ngdialog.ngdialog-closing .ngdialog-overlay {
	-webkit-backface-visibility: hidden;
	-webkit-animation: ngdialog-fadeout 0.5s;
	animation: ngdialog-fadeout 0.5s;
}

.ngdialog-content {
	background: white;
	-webkit-backface-visibility: hidden;
	-webkit-animation: ngdialog-fadein 0.5s;
	animation: ngdialog-fadein 0.5s;
	pointer-events: all;
}

.ngdialog.ngdialog-closing .ngdialog-content {
	-webkit-backface-visibility: hidden;
	-webkit-animation: ngdialog-fadeout 0.5s;
	animation: ngdialog-fadeout 0.5s;
}

.ngdialog-close:before {
	font-family: 'Helvetica', Arial, sans-serif;
	content: '\00D7';
	cursor: pointer;
}

html.ngdialog-open,
body.ngdialog-open {
	overflow: hidden;
}
///////////////////////////////
// Default theme //////////////
///////////////////////////////


@keyframes ngdialog-flyin {
	0% {
		opacity: 0;
		transform: translateY(-40px);
	}
	
	20% {
		opacity: 1;
	}

	100% {
		transform: translateY(0);
	}
}

@keyframes ngdialog-flyout {
	0% {
		opacity: 1;
		transform: translateY(0);
	}

	100% {
		opacity: 0;
		transform: translateY(-40px);
	}
}

.ngdialog.ngdialog-theme-default {
	padding-bottom: 160px;
	padding-top: 160px;
}

.ngdialog.ngdialog-theme-default.ngdialog-closing .ngdialog-content {
	animation: ngdialog-flyout .3s;
}

.ngdialog.ngdialog-theme-default .ngdialog-content {
	animation: ngdialog-flyin .3s;
	background: #f0f0f0;
	border-radius: 5px;
	color: #444;
	margin: 0 auto;
	max-width: 100%;
	position: relative;
	width: 370px;
	box-shadow: 0px 59px 43px 0px rgba(0, 0, 0, 0.14);
}

.ngdialog.ngdialog-theme-default .ngdialog-close {
	position: absolute;
	top: -35px;
	right: -35px;
	cursor: pointer;
	text-align: center;
	&:hover {
		border-color: $coral;
	}
}

.ngdialog.ngdialog-theme-default .ngdialog-close:before {
	content: icon-char(cross);
	@include icon-styles;
	position: relative;
	font-weight: 400;
	color: #fff;
	font-size: 24px;
}

.ngdialog.ngdialog-theme-default .ngdialog-close:hover:before,
.ngdialog.ngdialog-theme-default .ngdialog-close:active:before {
	color: $coral;
	border-color: $coral;
}

.ngdialog.ngdialog-theme-default .ngdialog-message {
	margin-bottom: .5em;
}

.ngdialog.ngdialog-theme-default .ngdialog-input {
	margin-bottom: 1em;
}

.ngdialog.ngdialog-theme-default .ngdialog-input textarea,
.ngdialog.ngdialog-theme-default .ngdialog-input input[type="text"],
.ngdialog.ngdialog-theme-default .ngdialog-input input[type="password"],
.ngdialog.ngdialog-theme-default .ngdialog-input input[type="email"],
.ngdialog.ngdialog-theme-default .ngdialog-input input[type="url"] {
	background: #fff;
	border: 0;
	border-radius: 3px;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	margin: 0 0 .25em;
	min-height: 2.5em;
	padding: .25em .67em;
	width: 100%;
}

.ngdialog.ngdialog-theme-default .ngdialog-input textarea:focus,
.ngdialog.ngdialog-theme-default .ngdialog-input input[type="text"]:focus,
.ngdialog.ngdialog-theme-default .ngdialog-input input[type="password"]:focus,
.ngdialog.ngdialog-theme-default .ngdialog-input input[type="email"]:focus,
.ngdialog.ngdialog-theme-default .ngdialog-input input[type="url"]:focus {
	box-shadow: inset 0 0 0 2px #8dbdf1;
	outline: none;
}

.ngdialog.ngdialog-theme-default .ngdialog-buttons {
	*zoom: 1;
}

.ngdialog.ngdialog-theme-default .ngdialog-buttons:after {
	content: '';
	display: table;
	clear: both;
}

.ngdialog.ngdialog-theme-default .ngdialog-button {
	border: 0;
	border-radius: 3px;
	cursor: pointer;
	float: right;
	font-family: inherit;
	font-size: .8em;
	letter-spacing: .1em;
	line-height: 1em;
	margin: 0 0 0 .5em;
	padding: .75em 2em;
	text-transform: uppercase;
}

.ngdialog.ngdialog-theme-default .ngdialog-button:focus {
	animation: ngdialog-pulse 1.1s infinite;
	outline: none;
}

@media (max-width: 568px) {
	.ngdialog.ngdialog-theme-default .ngdialog-button:focus {
		-webkit-animation: none;
		animation: none;
	}
}

.ngdialog.ngdialog-theme-default .ngdialog-button.ngdialog-button-primary {
	background: #3288e6;
	color: #fff;
}

.ngdialog.ngdialog-theme-default .ngdialog-button.ngdialog-button-secondary {
	background: #e0e0e0;
	color: #777;
}











