$color1: #292f36; //rgba(41, 47, 54, 100)
$green: #55DDE0; //rgba(78, 205, 196, 100)
$red: #d52e28; //rgba(213, 46, 40, 100)
$coral: #4AC7C0; //rgba(255, 105, 70, 100)
$coralLight: #e4f6f7; //rgba(255, 105, 70, 100)
$coralDark: #37b3ac;
$color5: #f7fff7; //rgba(247, 255, 247, 100)