<!DOCTYPE html>
<html>
	<head>
		<base href="/">
		<title>Pigeon Chat</title>
		<link rel='stylesheet' href='/css/main.css' />
		<link href='https://fonts.googleapis.com/css?family=Work+Sans:400,100,300,500,200&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
		
		<!-- CDN -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular-animate.js"></script>
		
		<script src="//cdnjs.cloudflare.com/ajax/libs/angular-filter/0.4.7/angular-filter.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.7/socket.io.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-moment/1.0.0-beta.3/angular-moment.min.js"></script>
		
		<!-- / -->
		
		<script src="/js/libs/angular-resource.js"></script>
		<script src="/js/libs/socket.js"></script>

		<script src="/js/libs/angular-sanitize.min.js"></script>
		<script src="/js/libs/ngDialog.js"></script>
		<script src="/js/libs/perfect-scrollbar.min.js"></script>
		<script src="/js/libs/angular-smooth-scroll.js"></script>
		
		<script src="/js/libs/lt.js"></script>
		
		<script src="js/app.js"></script>
		
		<script src="//localhost:35729/livereload.js"></script>
		
		<link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
		<link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />
		
	</head>
	<body ng-app="pigeonChat">
		<div ui-view class="main_view"></div>
	</body>
</html>
