<div ng-controller="MainCtrl">
	<ng-include src="'views/partials/header.html'"></ng-include>
	<div class="app_holder">
		<div class="sidebar">
			<div class="search_holder">
				<div class="search">
					<input type="text" ng-model="searchContact" ng-blur="searchContact=''" placeholder="Ieškokite tarp kontaktų">
				</div>
			</div>
			<div class="cards">
				<div class="card" ng-if="currentUser !== user.username" ui-sref-active="active" ui-sref="app.users({username: user.username})" ng-repeat="user in users | filter:searchContact">
					<div class="holder">
						<div class="side">
							<div class="image_holder" style="background-image: url(https://api.adorable.io/avatars/40/{{user.username}})"></div>
							<div class="status {{user.status}}"></div>
						</div>
						<div class="side">
							<div class="top">
								<div class="username">{{user.firstname}} {{user.lastname}}</div>
								<div class="last_message_date">
									{{user.last_message_date | amDateFormat:'YY/MM/DD'}}
								</div>
							</div>
							<div class="bottom">
								<div class="last_message" ng-bind="user.last_message"></div>
								<div class="new_messages">
									<div class="count" ng-bind="user.unseen" ng-show="user.unseen > 0" data-new-message></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div ui-view class="right_side"></div>
	</div>
	<audio src="sounds/new_message.mp3" class="new_msg_audio"></audio>
	<audio src="sounds/send_message.mp3" class="send_msg_audio"></audio>
</div>