<div class="login_page">
	<div class="logo">
		<img src="../images/logo.svg" alt="">
	</div>
	<div class="form_wrapper">
		<div class="form_holder">
			<form ng-submit="logIn()">
				<div class="title">
					<h3>Prisijungti</h3>
				</div>
				<div class="form_item text white" ng-class="{error: error.username.err}">
					<input type="text" placeholder="Vartotojo vardas" ng-model="user.username">
					<div ng-if="error.username.err" class="err">
						<span class="alert"></span>
						<span class="msg">{{error.username.message}}</span>
					</div>
				</div>
				<div class="form_item text white" ng-class="{error: error.password.err}">
					<input type="password" placeholder="Slaptažodis" ng-model="user.password">
					<div ng-if="error.password.err" class="err">
						<span class="alert"></span>
						<span class="msg">{{error.password.message}}</span>
					</div>
				</div>
				<button type="submit" class="btn primary">Prisijungti</button>
			</form>
		</div>
		<div class="switch_form">
			<span>Neturite paskyros?<span> <a ui-sref="register">Registruotis</a>
		</div>
	</div>
</div>