<div class="register_page">
	<div class="logo">
		<img src="../images/logo.svg" alt="">
	</div>
	<div class="form_wrapper">
		<div class="form_holder">
			<form ng-submit="register()">
				<div class="title">
					<h3>Registruotis</h3>
				</div>
				<div class="form_item text white" ng-class="{error: error.username.err}">
					<input type="text" placeholder="Vartotojo vardas" ng-model="user.username">
					<div ng-if="error.username.err" class="err">
						<span class="alert"></span>
						<span class="msg">{{error.username.message}}</span>
					</div>
				</div>
				<div class="form_group">
					<div class="form_item text white" ng-class="{error: error}">
						<input type="text" placeholder="Vardas" ng-model="user.firstname">
						<div ng-if="error.firstname.err" class="err">
							<span class="alert"></span>
							<span class="msg">{{error.firstname.message}}</span>
						</div>
					</div>
					<div class="form_item text white" ng-class="{error: error}">
						<input type="text" placeholder="Pavardė" ng-model="user.lastname">
					</div>
				</div>
				<div class="form_item text white" ng-class="{error: error.password.err}">
					<input type="password" placeholder="Slaptažodis" ng-model="user.password">
					<div ng-if="error.password.err" class="err">
						<span class="alert"></span>
						<span class="msg">{{error.password.message}}</span>
					</div>
				</div>
				<div class="form_item text white" ng-class="{error: error.password_repeat.err}">
					<input type="password" placeholder="Pakartokite slaptažodį" ng-model="user.password_repeat">
					<div ng-if="error.password_repeat.err" class="err">
						<span class="alert"></span>
						<span class="msg">{{error.password_repeat.message}}</span>
					</div>
				</div>
				<button type="submit" class="btn primary">Registruotis</button>
			</form>
			
		</div>
		<div class="switch_form">
			<span>Jau turite paskyrą?<span> <a ui-sref="login">Prisijungti</a>
		</div>
	</div>
</div>



