.header {
	width: 100%;
	z-index: 3;
	
	.container {
		display: flex;
		width: 100%;
		// max-width: 1240px;
		padding: 12px 20px;
		margin: 0 auto;
	}
	
	.logo {
		width: 50%;
		
		img {
			position: relative;
			top: 1.5px;
			height: 35px;
		}
	}
	
	.menu {
		width: 50%;
		text-align: right;
		
		ul {
			list-style-type: none;
			padding: 2px 0;
			
			li {
				display: inline-block;
				padding: 6px 0 2px;
				margin-right: 2px;
				&:last-child {
					margin-right: 0;
				}
				
				i {
					color: rgba(#fff, 1);
					font-size: 17px;
					line-height: 20px;
					padding: 8px 4px;
					cursor: pointer;
					transition: color .25s;
					&:hover {
						color: rgba(#fff, .8);
					}
					// &.icon_logout {
					// 	&:hover {
					// 		color: $red;
					// 	}
					// }
				}
			}
		}
	}
}

