.messenger {
	position: relative;
	height: 100%;
	overflow: hidden;
	background-color: #fff;
	.top {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		background-color: rgba(#fff, 1);
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		padding: 10px 20px;
		border-bottom: 1px solid #eaeaea;
		background-color: rgba(#fff, .95);
		z-index: 4;
		
		.user_image {
			position: relative;
			width: 40px;
			height: 40px;
			border-radius: 50%;
			background-size: cover;
			background-position: center;
		}
		.name {
			font-size: 13px;
			font-weight: 500;
			color: #494949;
			padding: 0 20px 0 15px;
		}
		.status {
			position: absolute;
			bottom: 0;
			right: 0;
			width: 10px;
			height: 10px;
			border: 2px solid #fff;
			border-radius: 50%;
			background-color: #fff;
			&.offline {
				background-color: #999;
			}
			&.online {
				background-color: #4ecdc4;
			}
		}
	}

	.new_message {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		background-color: rgba(#fff, 1);
		border-top: 1px solid #eaeaea;
		z-index: 4;
		
		.typing {
			position: absolute;
			top: 0px;
			left: 25px;
			z-index: 2;
			transform: translateY(-25px);
			transition: transform .25s ease-in-out;
			&.ng-hide {
				transform: translateY(0);
			}
			
			.image {
				width: 35px;
				height: 35px;
				display: inline-block;
				background-size: cover;
				background-position: center center;
				background-repeat: no-repeat;
				border-radius: 50px;
			}
			.animation {
				display: inline-block;
				vertical-align: top;
				padding: 5px 0 0 5px;
				
				span {
					position: relative;
					display: inline-block;
					width: 5px;
					height: 5px;
					border-radius: 50px;
					background-color: #FF8E72;
					animation-duration: 2s;
					animation-timing-function: linear;
					animation-iteration-count: infinite;
					transform: translateY(0);
					&:nth-child(1) {
						animation-name: circle1;
					}
					&:nth-child(2) {
						animation-name: circle2;
					}
					&:nth-child(3) {
						animation-name: circle3;
					}
				}
				@keyframes circle1 {
					0% {
						transform: translateY(0);
					}
					15% {
						transform: translateY(-7px);
					}
					25% {
						transform: translateY(0);
					}
				}
				@keyframes circle2 {
					10% {
						transform: translateY(0);
					}
					25% {
						transform: translateY(-7px);
					}
					35% {
						transform: translateY(0);
					}
				}
				@keyframes circle3 {
					15% {
						transform: translateY(0);
					}
					30% {
						transform: translateY(-7px);
					}
					40% {
						transform: translateY(0);
					}
				}
			}
		}
		
		.holder {
			position: relative;
			display: flex;
			flex-flow: row wrap;
			padding: 15px 20px;
			background-color: #fff;
			width: 100%;
			z-index: 3;
			
			.body {
				position: relative;
				padding: 12px 15px 10px;
				border-radius: 3px;
				border: 2px solid #eaeaea;
				width: calc( 100% - 55px );
				font-size: 13px;
				line-height: 19px;
				color: #494949;
				background: #fff;
				transition: all .25s;
				&:empty:before {
					content: attr(placeholder);
					display: block;
					color: #999;
				}
				&:focus:before {
					opacity: 0;
				}
			}

			.send {
				position: relative;
				color: #D0D0D0;
				cursor: default;
				width: 55px;
				text-align: center;
				&.active {
					color: $coral;
					cursor: pointer;
					&:hover {
						color: $coralDark;
					}
				}
				
				i {
					font-size: 34px;
					line-height: 1em;
					position: relative;
					top: 5px;
					left: 9px;
				}
			}
		}
	}
	
	.messages_holder {
		padding: 61px 0 76px;
		height: 100%;
		
		.messages_scroll {
			position: relative;
			height: 100%;
		}
	}

	.messages {
		width: 100%;
		padding: 20px 0;
		
		.messages_group_title {
			position: relative;
			text-align: center;
			padding: 10px 0;
			&:before {
				content: '';
				height: 1px;
				width: 100%;
				background-color: #999;
				position: absolute;
				top: 18px;
				left: 0;
				opacity: .3;
			}
			
			span {
				background: #fff;
				position: relative;
				z-index: 2;
				padding: 0 10px;
			}
		}

		.message {
			display: flex;
			flex-flow: row wrap;
			margin-bottom: 20px;
			padding: 0 9%;
			transition: opacity 1s 1s;
			&:last-child {
				margin-bottom: 0;
			}
			
			.user_image {
				position: relative;
				width: 35px;
				height: 35px;
				border-radius: 50%;
				background-size: cover;
				background-position: center;
			}
			.message_body {
				position: relative;
				display: inline-block;
				margin: 0 20px;
				max-width: 50%;
				min-width: 80px;
				padding: 0 20px 0 15px;
				border-radius: 7.5px;
				box-shadow: 0 1px .5px rgba(0,0,0,.13);
				&:before {
					content: '';
					position: absolute;
					top: 11px;
					width: 0;
					height: 0;
					border-style: solid;
				}
				
				.message_text {
					font-size: 13px;
					color: #494949;
					line-height: 19px;
					padding: 8px 0;
				}
			}
			.date {
				font-size: 12px;
				font-weight: 500;
				color: #999;
				
				span {
					display: block;
					padding: 12px 7px 8px;
				}
			}

			&.left {
				
				.message_body {
					background-color: #f6f7fb;
					&:before {
						left: -8px;
						border-width: 8px 8px 8px 0;
						border-color: transparent #f6f7fb transparent transparent;
					}
				}
			}
			&.right {
				justify-content: flex-end;
				margin-right: 0;
				margin-left: auto;

				.user_image {
					order: 2;
					&:after {
						content: icon-char(eye);
						@include icon-styles;
						position: absolute;
						right: -25px;
						top: 11px;
						font-size: 16px;
						color: rgba(#000, .2);
					}
					&.msg_seen {
						&:after {
							color: #4fc3f7;
						}
					}
				}
				.message_body {
					order: 1;
					background-color: $coralLight;
					&:before {
						right: -8px;
						border-width: 8px 0 8px 8px;
						border-color: transparent transparent transparent $coralLight;
					}
				}
			}
		}
	}
}












