.sidebar {
	position: relative;
	height: 100%;
	max-height: 100%;
	overflow: hidden;
	width: 300px;
	border-right: 1px solid #eaeaea;
	
	.search_holder {
		padding: 12px 15px 12px;
		width: 100%;
		
		.search {
			position: relative;
			
			input {
				width: 100%;
				font-size: 13px;
				color: #898989;
				border-radius: 3px;
				border: none;
				background-color: #f9f9f9;
				padding: 10px 15px 10px 38px;
			}
			
			&:before {
				content: icon-char(search);
				@include icon-styles;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				left: 12px;
				font-size: 14px;
				color: #999;
			}
		}
	}
	
	.cards {
		
		.card {
			width: 100%;
			padding: 0 15px;
			transition: background-color .25s;
			cursor: default;
			border-right: 3px solid transparent;
			&:nth-child(1) {
				
				.holder {
					border-top: none;
				}
			}
			&:hover {
				
				.side {
					
					.username {
						color: $coral;
					}
				}
			}
			&.active {
				background-color: #f9f9f9;
				z-index: 19;
				border-right: 3px solid $coral;
				
				.holder {
					border-top-color: transparent;
					
					.side {
						
						.username {
							color: $coral;
						}
					}
				}
				
				+ .card {
					
					.holder {
						border-top-color: transparent;
					}
				} 
			}
			
			.holder {
				display: flex;
				flex-flow: row wrap;
				align-items: center;
				border-top: 1px solid #eaeaea;
				padding: 15px 0;
			}
			
			.side {
				position: relative;
				&:nth-child(2) {
					width: calc( 100% - 40px );
				}
				
				.image_holder {
					width: 40px;
					height: 40px;
					background-size: cover;
					background-repeat: no-repeat;
					background-position: center center;
					border-radius: 50%;
				}
				.status {
					position: absolute;
					bottom: 0;
					right: 0;
					width: 10px;
					height: 10px;
					border: 2px solid #fff;
					border-radius: 50%;
					background-color: #fff;
					&.offline {
						background-color: #999;
					}
					&.online {
						background-color: #4ecdc4;
					}
				}
				.top,
				.bottom {
					display: flex;
					flex-flow: row wrap;
					padding: 2px 0;
				}
				
				.username {
					font-size: 13px;
					color: #494949;
					padding-left: 10px;
					width: 100%;
					transition: color .25s;
					width: calc( 100% - 60px );
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
				.last_message_date {
					float: right;
					font-size: 12px;
					color: #999999;
					width: 60px;
					text-align: right;
				}
				.last_message {
					font-size: 12px;
					color: #999;
					padding-left: 10px;
					width: calc( 100% - 60px );
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
				.new_messages {
					width: 60px;
					text-align: right;
					
					.count {
						display: inline-block;
						background-color: $coral;
						border-radius: 3px;
						color: #fff;
						padding: 2px 6px;
						font-size: 12px;
						font-weight: bold;
					}
				}
			}
		}
	}
}





