.user_settings {
	background-color: #fff;
	border-radius: 5px;
	
	.top {
		position: relative;
		padding: 15px 30px;
		border-radius: 5px 5px 0 0;
		background-color: #4dcac4;
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		z-index: 3;
		
		.user_image {
			width: 60px;
			height: 60px;
			border-radius: 50%;
			border: 2px solid #fff;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
			
		}
		.user_name {
			position: relative;
			padding-left: 15px;
			width: calc(100% - 60px);
			&:after {
				content: icon-char(pen);
				@include icon-styles;
				font-size: 16px;
				position: absolute;
				right: 0;
				top: 50%;
				transform: translateY(-50%);
				margin-right: 10px;
				color: rgba(#fff, .6);
				transition: color .25s;
			}
			&:hover {
				&:not(.active) {
					&:after {
						color: #fff;
					}
				}
			}
			&.error {}
			
			input {
				width: 100%;
				border: none;
				outline: none;
				background-color: transparent;
				font-size: 18px;
				color: #fff;
				padding: 5px 30px 5px 10px;
				border-bottom: 2px solid #7cd2ce;
				transition: all .3s;
				cursor: pointer;
				&:not([disabled]) {
					border-color: #fff;
					padding-left: 0;
					cursor: default;
				}
				@include placeholder {
					color: rgba(#fff, .7);
				}
			}
		}
	}
	
	.middle {
		position: relative;
		padding: 35px 65px;
		z-index: 2;
		overflow: hidden;
		transition: padding .2s;
		&.active {
			padding: 62px 65px;
		}
		
		.form_item {
			&:last-child {
				margin-bottom: 0;
			}
		}
		
		.change_password {
			background-color: #fff;
			position: absolute;
			overflow: hidden;
			width: calc( 100% - 15px );
			top: 0;
			right: 0;
			padding: 31px 65px 14px;
			box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.07);
			
			&.ng-enter {
				transition: transform .3s .2s;
				transform: translateX(100%);
				opacity: 0;
			}

			&.ng-enter.ng-enter-active {
				transition: transform .3s 0s;
				transform: translateX(0);
				opacity: 1;
			}
			
			.close {
				position: absolute;
				top: 50%;
				left: -25px;
				transform: translateY(-50%);
				width: 50px;
				height: 50px;
				background-color: $coral;
				border-radius: 50px;
				cursor: pointer;
				transition: background-color .25s;
				&:hover {
					background-color: $coralDark;
				}
				
				i {
					color: #fff;
					position: absolute;
					right: 7px;
					top: 15px;
					transform: scale(-1);
				}
			}
		}
	}
	.bottom {
		position: relative;
		border-radius: 0 0 5px 5px;
		background-color: #fafafa;
		padding: 15px 30px;
		z-index: 3;
	}
}