body {
	height: auto;
	font-family: 'Work Sans', sans-serif;
	font-size: 14px;
	color: #999;
	background-color: #f5f5f5;
	height: 100%;
	overflow: hidden;
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 205px;
		background-color: #4AC7C0;
		z-index: -1;
	}
}

input,
textarea {
	font-family: 'Work Sans', sans-serif;
}

.app_holder {
	display: flex;
	width: calc( 100% - 30px );
	max-width: 1200px;
	height: calc( 100% - 30px - 60px );
	margin: 15px auto;
	border-radius: 3px;
	overflow: hidden;
	background-color: #fff;
	box-shadow: 0 1px 1px 0 rgba(0,0,0,.03),0 2px 5px 0 rgba(0,0,0,.2);
	
	.right_side {
		height: 100%;
		width: calc( 100% - 300px );
	}
}

.main_view {
	height: 100%;
	
	> div {
		height: 100%;
	}
}

.login_page,
.register_page {
	
	.logo {
		position: relative;
		text-align: center;
		padding: 100px 20px 20px 20px;
		
		img {
			margin: 0 auto;
		}
	}
	
	.form_holder {
		position: relative;
		width: 100%;
		max-width: 380px;
		margin: 0 auto;
		padding: 30px 45px;
		background-color: #fff;
		box-shadow: 0 1px 1px 0 rgba(0,0,0,.03),0 2px 5px 0 rgba(0,0,0,.2);
		border-radius: 3px;
		
		.title {
			text-align: center;
			padding-bottom: 35px;
			
			h3 {
				font-size: 28px;
				color: #494949;
				font-weight: 400;
				padding-bottom: 5px;
				
				+ small {
					color: #999;
					font-size: 14px;
				}
			}
		}
		button {
			margin-top: 35px;
		}
	}
	.switch_form {
		padding-top: 15px;
		text-align: center;
		font-size: 12px;
		color: #999;
		
		a {
			color: #494949;
			text-decoration: underline;
			transition: all .25s;
			&:hover {
				color: $coral;
			}
		}
	}
}

.drodown {
	position: relative;
	display: inline-block;
	
	.dropdown_toggle {
		cursor: pointer;
		&:hover {
			
			> i {
				color: $coral;
			}
		}
		
		i {
			transition: color .25s;
		}
	}
	.dropdown_menu {
		position: absolute;
		opacity: 0;
		pointer-events: none;
	}
}

audio {
	display: none;
}
























