<div class="header">
	<div class="container">
		<div class="logo">
			<img src="../images/logo.svg" alt="">
		</div>
		<div class="menu">
			<ul>
				<li>
					<i class="icon_settings" ng-click="userSettings()"></i>
				</li>
				<li>
					<i class="icon_logout" ng-click="logOut()"></i>
				</li>
			</ul>
		</div>
	</ul>
	</div>
</div>