<div class="messenger">
	<div class="top">
		<div class="user_image" style="background-image: url(https://api.adorable.io/avatars/40/{{recipient.username}})">
			<div class="status {{recipient.status}}"></div>
		</div>
		<div class="name" ng-bind="recipient.fullname"></div>
	</div>
	<div class="messages_holder">
		<div class="messages_scroll" id="messages_holder" scrollbar>
			<div class="messages">
				<div class="messages_group" 
					 ng-repeat="(key, value) in userMessages | groupBy: 'created_at_day'">
					<div class="messages_group_title" group-title>
						<span>{{key}}</span>
					</div>
					<div class="message" 
						 ng-class="message.from == recipient.username ? 'left' : 'right'" 
						 ng-repeat="message in value">
						<div class="user_image" 
							 style="background-image: url(https://api.adorable.io/avatars/40/{{message.from}})"
							 ng-class="{'msg_seen' :message.seen}"></div>
						<div class="message_body">
							<p class="message_text" ng-bind-html="message.body"></p>
						</div>
						<div class="date">
							<span>
								{{message.created_at | amDateFormat:'HH:mm'}}
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="new_message">
		<div class="typing" typing ng-show="typing">
			<div class="image" 
				 style="background-image: url(https://api.adorable.io/avatars/40/{{recipient.username}})">
			</div>
			<div class="animation">
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div>
		<div class="holder">
			<div class="body" 
				 message-content 
				 safe-paste 
				 contenteditable 
				 ng-model="body" 
				 placeholder="Čia rašykite žinutę">
			</div>
			<div class="send" ng-click="sendMessage(body)" ng-class="body != '' && body != null ? 'active' : 'false'">
				<i class="icon_send"></i>
			</div>
		</div>
	</div>
</div>


