<div class="user_settings">
	<div class="top">
		<div class="user_image" style="background-image: url(https://api.adorable.io/avatars/60/{{currentUser.username}})"></div>
		<div class="user_name" ng-class="{'error': errors.fullname.error}" ng-click="changeFullname($event)">
			<input type="text" placeholder="Vardas Pavardė" data-fullname ng-model="currentUser.fullname" disabled>
		</div>
	</div>
	<div class="middle" ng-class="{'active' : changePasswordActive}">
		<div class="form_item text white blocked">
			<label for="">Prisijungimo vardas</label>
			<input type="text" disabled value="{{currentUser.username}}">
		</div>
		<div class="form_item text white edit" ng-click="changePassword()">
			<label for="">Slaptažodis</label>
			<input type="password" disabled value="12345634">
		</div>
		<div class="change_password" ng-if="changePasswordActive">
			<div class="form_item text white" ng-class="{'error': errors.oldPassword.error}">
				<label for="">Senas slaptažodis</label>
				<input type="password" ng-model="newPassword.oldPassword">
				<div ng-if="errors.oldPassword.error" class="err">
					<span class="alert"></span>
					<span class="msg">{{errors.oldPassword.error_msg}}</span>
				</div>
			</div>
			<div class="form_item text white" ng-class="{'error': errors.newPassword.error}">
				<label for="">Naujas slaptažodis</label>
				<input type="password" ng-model="newPassword.newPassword">
				<div ng-if="errors.newPassword.error" class="err">
					<span class="alert"></span>
					<span class="msg">{{errors.newPassword.error_msg}}</span>
				</div>
			</div>
			<div class="form_item text white" ng-class="{'error': errors.repeatedPassword.error}">
				<label for="">Pakartokite naują slaptažodį</label>
				<input type="password" ng-model="newPassword.repeatedPassword">
				<div ng-if="errors.repeatedPassword.error" class="err">
					<span class="alert"></span>
					<span class="msg">{{errors.repeatedPassword.error_msg}}</span>
				</div>
			</div>
			<div class="close" ng-click="changePassword('close')">
				<i class="icon_arrow_left"></i>
			</div>
		</div>
	</div>
	<div class="bottom">
		<div class="btn ghost has_load" ng-class="{'loading' : saving, 'saved': saved}" ng-click="save()">
			<div class="text">Išsaugoti</div>
			<div class="loader">
				<div class="circle"></div>
			</div>
		</div>
	</div>
</div>